@import url("https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap");
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: #fdfaf5;
}
button {
  cursor: pointer;
}


@media (max-width: 300px), (min-width: 1921px) {
  body::before {
    content: "This app is not supported on your device.";
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    background: white;
    color: black;
    font-size: 1.2rem;
    z-index: 999999;
  }
}

